*, *::after, *::before {
  box-sizing: border-box;
}

img {
    width: 30%;
    margin-top: 2%;
  }

h4 {
    color: red;
  }

.card {
  margin-left: 10%;
  margin-right: 10%;
}

.card_body {
  position:absolute;
  left: 38%;
  top: -2%;
}

.titre {
  font-size: 2rem;
}

p {
  margin-right: 10%;
}